// Override bootstrap component styles

thead {
  background-color: var(--dark-color) !important;
  tr {
    th {
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 16px;
    }
  }
}

tbody {
  background-color: transparent;
  tr {
    padding: 16px;
    &:hover {
      background-color: var(--menu-highlight-color) !important;
    }
    td {
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 16px;
    }
  }
}
