@use "./_colors.scss";
@use "../features/sidebar/sidebar.module.scss";

.space-grotesk {
  // <weight>: Use a value from 300 to 700
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.bold {
  font-weight: 500;
}

.inter-bold {
  // <weight>: Use a value from 100 to 900
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.gradient-text {
  background: linear-gradient(to right, var(--secondary-color), #b283ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-container {
  align-items: start;
  justify-content: start;
  padding: 32px;
  gap: 32px;
  flex-grow: 1;
}
